@use '../../../styles/colors' as *;
:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 90rem;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.75rem;

  @media (max-width: 30rem) and (orientation: portrait) {
    gap: 1rem;
  }

  > img {
    max-width: 8.75rem;
    height: auto;
    align-items: center;
  }
}

.header__back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: $color-cream;
  text-decoration: none;
  font-size: 1.5rem;

  &-text {
    @media (max-width: 30rem) {
      display: none;
    }
  }

  &-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }

  &:hover {
    background-color: $color-olive-footer;
  }
}

:host(.header--light) {
  .header__back {
    color: $color-green-mid;
  }

  .header__back:hover {
    background-color: $color-olive-highlight;
  }
}
