$color-olive: #396039;
$color-olive-highlight: #3960394d;
$color-olive-footer: #faf0e626;
$color-olive-light: #d7dfd7;
$color-olive-midle: #D3D3C3;

$color-green-mid: #1e5515;
$color-green-light: #008000;
$color-green-dark: #10310b;

$color-cream: #faf0e6;
$color-cream-highlight: #faf0e6cc;
$color-cream-hover: #fae0c6;
$color-background-results: #fdfbf7;
$color-cream-detail: #ffd9b3;

$color-spinner-bg: #c4d0c4;
