$color-olive: #396039;
$color-olive-highlight: #3960394d;
$color-olive-footer:  #faf0e626;


$color-green-mid: #1e5515;
$color-green-light: #008000;
$color-green-dark: #10310b;

$color-cream: #faf0e6;
$color-cream-highlight: #faf0e6cc;
$color-cream-hover: #fae0c6;
