$color-olive: #396039;
$color-olive-highlight: #3960394d;
$color-olive-footer: #faf0e626;
$color-olive-light: #d7dfd7;
$color-olive-midle: #d3d3c3;
$color-olive-xtra-light: #3960390a;
$color-oliv-midle-light: #dbe0dbb2;

$color-green-mid: #1e5515;
$color-green-light: #008000;
$color-green-dark: #10310b;

$color-cream: #faf0e6;
$color-cream-highlight: #faf0e6cc;
$color-cream-highlight-light: #faf0e6b2;
$color-cream-hover: #fae0c6;
$color-background-results: #fdfbf7;
$color-cream-detail: #ffd9b3;

$color-spinner-bg: #c4d0c4;
$color-chef-three: #cfd7004d;
$color-chef-four: #00800066;
