@use '../../../styles/colors' as *;
@use '../../../styles/mixins' as *;

.hero {
  position: relative;
  background-color: $color-olive;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  &__inner {
    max-width: 90rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding-inline: 2rem;

    @media (max-width: 22.5rem) {
      padding-inline: 1rem;
      gap: 1rem;
    }
  }

  &__content {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  &__kicker {
    margin: 0;
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 8rem;

    @media (max-width: 84.375rem) {
      font-size: 2.5rem;
    }

    @media (max-width: 64rem) and (orientation: portrait) {
      font-size: 1.5rem; // iPad Pro 12.9" und schmaler
    }

    @media (max-width: 51.875rem) and (orientation: portrait) {
      font-size: 1.25rem; // iPad Pro 11" und schmaler
    }

    @media (max-width: 70.8125rem) and (orientation: landscape) {
      font-size: 1.75rem;
      padding-top: 4rem;
    }

    @media (max-width: 30rem) and (orientation: portrait) {
      font-size: clamp(1.3rem, 0.7rem + 3vw, 1.6rem);

      padding-top: 2rem;
    }
  }

  &__title {
    margin: 0;
    font-size: 6.5rem;
    font-weight: 700;

    @media (max-width: 84.375rem) {
      font-size: 5.5rem;
    }

    @media (max-width: 64rem) and (orientation: portrait) {
      font-size: 4.25rem; //iPad Pro 12.9" und schmaler
    }

    @media (max-width: 51.875rem) and (orientation: portrait) {
      font-size: 3rem; // iPad Pro 11" und schmaler
    }

    @media (max-width: 70.8125rem) and (orientation: landscape) {
      font-size: 4.5rem;
    }

    @media (max-width: 30rem) and (orientation: portrait) {
      font-size: clamp(2.75rem, 0.25rem + 12.5vw, 4rem);
    }
  }

  &__cta {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    background-color: $color-cream;
    color: $color-green-light;
    padding: 0.75rem 1.5rem;
    cursor: pointer;

    @include hover {
      font-weight: 700;
      background-color: $color-cream-hover;
    }

    @media (max-width: 64rem) and (orientation: portrait) {
      font-size: 1.25rem; // iPad Pro 12.9" und schmaler
    }

    @media (max-width: 51.875rem) and (orientation: portrait) {
      padding: 0.55rem 1.25rem; // iPad Pro 11" und schmaler
    }

    @media (max-width: 70.8125rem) and (orientation: landscape) {
      font-size: 1rem;
    }

    @media (max-width: 30rem) and (orientation: portrait) {
      font-size: clamp(0.85rem, 0.55rem + 1.5vw, 1rem);
      padding: clamp(0.6rem, 0.1rem + 2.5vw, 0.85rem) clamp(1rem, 0.5rem + 2.5vw, 1.25rem);
    }
  }

  &__bottom {
    position: relative;
  }

  &__secondary {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 10rem;
    cursor: pointer;
    white-space: nowrap;

    @media (max-width: 64rem) and (orientation: portrait) {
      font-size: 1.35rem; // iPad Pro 12.9" und schmaler
    }

    @media (max-width: 51.875rem) and (orientation: portrait) {
      font-size: 1.25rem; // iPad Pro 11" und schmaler
    }

    @media (max-width: 74.625rem) and (orientation: landscape) {
      font-size: 1.5rem;
      padding-bottom: 13rem;
    }

    @media (max-width: 30rem) and (orientation: portrait) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      white-space: normal;
      padding-bottom: 5rem;
      font-size: 2.5rem;
    }

    &-link {
      font-size: 1.25rem;
      font-weight: 500;
      color: $color-cream;
      text-decoration: none;
      padding: 0.5rem 1rem;

      @media (max-width: 64rem) and (orientation: portrait) {
        font-size: 0.875rem; // iPad Pro 12.9" und schmaler
      }

      @media (max-width: 74.625rem) and (orientation: landscape) {
        font-size: 1rem;
      }

      @media (max-width: 30rem) and (orientation: portrait) {
        font-size: clamp(0.9rem, -0.3rem + 6vw, 1.5rem);
        padding: 0;
        padding-top: clamp(0.5rem, 2.5vw, 0.75rem);
      }

      @include hover {
        background-color: $color-olive-footer;
      }
    }
  }

  &__gallery {
    height: 100%;
    flex-shrink: 0;

    &-img {
      height: 100%;
      width: auto;
      display: block;

      &--default {
        max-height: 64rem;
      }

      &--wide {
        display: none;
        max-height: 109.1875rem;
      }
    }

    @media (min-width: 90rem), (orientation: portrait) and (min-width: 30rem) {
      .hero__gallery-img--default {
        display: none;
      }

      .hero__gallery-img--wide {
        display: block;
      }
    }

    @media (min-width: 90rem) {
      .hero__gallery-img--default {
        display: none;
      }

      .hero__gallery-img--wide {
        display: block;
      }
    }
  }

  &__legal {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 40%;
    transform: translateX(-50%);
    color: $color-cream;
    font-size: 1rem;
    font-family: 'Ubuntu';

    &-link {
      text-decoration: none;
      color: $color-cream;
      padding: 0.5rem;

      @media (max-width: 30rem) and (orientation: portrait) {
        font-size: clamp(0.7rem, 0.35rem + 1.75vw, 0.875rem);
        white-space: nowrap;
      }

      @media (max-width: 30rem) {
        font-size: 0.875rem;
      }

      @include hover {
        background-color: $color-olive-footer;
      }
    }

    @media (max-width: 74.625rem) and (orientation: landscape) {
      font-size: 0.875rem;
      bottom: 2rem;
    }
  }
}
